In [1]:
# solution of question-1
"""
Comments in Python are the lines in the code that are
ignored by the interpreter during the execution of the program.
Types of comments are :
Single line Comments -> given by # (example - # this is comment)
Multiline Comments   -> Muti line comment in which we use triple single quote ''' '''
and triple double quote """""".To comment the code
"""

"\nComments in Python are the lines in the code that are\nignored by the interpreter during the execution of the program.\nTypes of comments are :\nSingle line Comments -> given by # (example - # this is comment)\nMultiline Comments   -> Muti line comment in which we use triple single quote ''' '''\nand triple double quote .To comment the code\n"

In [2]:
# solution of question-2
# Variables are containers for storing data values.
# we declare by using alphabet or underscore
# syntax -> var_name = value

In [3]:
# solution of question-3
# we convert datatypes using iin build function
# examples
"""
int to float-> float(10)
float to int->int(10.5)
int or float to string->str(10) or str(10.5)
list to tupple->list([1,4,,6])
tupple to list->list((1,5,7))
etc

so that mean we can convert various datatype one to other by using in-build method of python
"""

'\nint to float-> float(10)\nfloat to int->int(10.5)\nint or float to string->str(10) or str(10.5)\nlist to tupple->list([1,4,,6])\ntupple to list->list((1,5,7))\netc\n\nso that mean we can convert various datatype one to other by using in-build method of python\n'

In [4]:
# solution of question-4
"""
The most basic and easy way to run a Python script is by using the python command. 
You need to open a command line and type the word python followed by the path to your script file like this:

python test.py
Hello World!

Then you hit the ENTER button from the keyboard, and that's it.
You will get the output simply.

"""

"\nThe most basic and easy way to run a Python script is by using the python command. \nYou need to open a command line and type the word python followed by the path to your script file like this:\n\npython test.py\nHello World!\n\nThen you hit the ENTER button from the keyboard, and that's it.\nYou will get the output simply.\n\n"

In [5]:
# solution of question-5
my_list = [1, 2, 3, 4, 5]
print(my_list[1:3])

[2, 3]

In [6]:
# solution of question-4
"""
The complex number is basically the combination of a real number and an imaginary number. 
The complex number is in the form of a+ib
where a is real part and b is imaginary part

In python declaration syntax -> var_name = a + ib
"""
complex_number = 2+4j
print(complex_number)

(2+4j)

In [7]:
# solution of question-6
# declare variable name age assign value 25
age = 25
print(age)

25

In [8]:
# solution of question-7
# declare variable name price assign value 9.99 and get their dtype.

price = 9.99
# Its datatype is float.
print(type(price))

<class 'float'>

In [9]:
# solution of question-8

name = "krishna yaduvanshi"
print(name)

krishna yaduvanshi

In [10]:
# solution of question-9

var = "hello world"
print(var[6:11])

world

In [11]:
# solution of  question-10
is_student = True
type(is_student)

bool