In [1]:
# solution of question-1
name = "krishna"
lst = list(range(10))
floating_point = 10.4
tpl = ("abc" , "xyz" , 2)
print(name, type(name))
print(lst , type(lst))
print(floating_point , type(floating_point))
print(tpl , type(tpl))

krishna <class 'str'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>
10.4 <class 'float'>
('abc', 'xyz', 2) <class 'tuple'>

In [2]:
# solution of question-2

# 1) string
# 2) string
# 3) list
# 4) int

In [3]:
# solution of question-3

# 1) / It is division arthmetic operator which is used to divides first operand by second operand (x/y)

a=10
b=2
print(a/b)

# 2) % It is modulus arithmetic returns the remainder when the first operand is divided by the second (x/y)

print(a%b)    

# 3) // It is  division (floor) arithmetic operator divides the first operand by the second (x//y)

print(a//b)

# 4) ** It is type of arthematic operator to get exponential left operand raised to the power of right operand (x**y)
print(a**b)

5.0
0
5
100

In [4]:
# solution of question-4

lst2=[1 , 2.4 , "abc" , True , 2+3j]
for i in lst2:
    print("items are", i , "and datatype is" , type(i),"\n")

items are 1 and datatype is <class 'int'>

items are 2.4 and datatype is <class 'float'>

items are abc and datatype is <class 'str'>

items are True and datatype is <class 'bool'>

items are (2+3j) and datatype is <class 'complex'>

In [1]:
# solution of question-5

A=int(input("enter a operand A -> "))
B=int(input("enter a operand B ->"))
count=0
while True:
    if(A%B==0):
        A=A/B
        count=count+1
    else:
        print(count , "time purely divisible")
        break

enter a operand A ->  8
enter a operand B -> 2

3 time purely divisible

In [14]:
# solution of question-6

lst3=list(range(25))
print(lst3)
for i in lst3:
    if(i%3==0):
        print(i ,"is divisible be 3")
    else:
        print(i, "is not divisible by 3")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
0 is divisible be 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible be 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible be 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible be 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible be 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible be 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible be 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible be 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible be 3

In [21]:
# solution of question-7

# mutable datatype - Mutable datatypes are those that allow you to 
# change their value after its creation(modification in thier values).
# example of mutable datatype -> list , set , dictionary
lst4=["physics" , "wallah"]
print(lst4)
lst4[0]="college"
print(lst4 , "\n")

# Imutable datatype - An object whose internal state cannot be changed is called immutable.
# Their values cannot be modified after its creation.
# for example a number, a string, and a tuple. .

str1="DataScience"
print(str1)

# below two code through error due to imutable nature of string
#str1[2]="d"
#print(str1)

['physics', 'wallah']
['college', 'wallah']

DataScience